*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(19, 4, 4);
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container .box{
    position: relative;
    height: 400px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5;
}
.container .box::before{
    content: '';
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.container .box::after{
    content: '';
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}
.container .box:hover:before,
.container .box:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.container .box:nth-child(1):before,
.container .box:nth-child(1):after{
    background: linear-gradient(315deg, #ffbc00,#ff0058);
}
.container .box:nth-child(2):before,
.container .box:nth-child(2):after{
    background: linear-gradient(315deg, #ff00cc,#333399);
}
.container .box:nth-child(3):before,
.container .box:nth-child(3):after{
    background: linear-gradient(315deg, #f85032,#e73827);
}
.content{
    z-index: 1;
    /* display: none; */
}