*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cyan;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;

}
.container .box{
    position: relative;
    width: 300px;
    height: 250px;
    background: #fff;
    margin: 40px 0;
    font-family: consolas;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box.shadow1{
    box-shadow: -30px 30px 10px rgba(0, 0, 0,0.3);
}
.container .box.shadow2::before{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10%;
    height: 50px;
    width: 90%;
    background: rgba(0, 0, 0,0.3);
    transform: skewY(5deg);
    transform-origin: left;
    filter: blur(5px);
    z-index: -1;
}
.container .box.shadow3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 50%;
    background: rgba(0, 0, 0,0.3);
    transform-origin: right;
    transform: skewY(-8deg);
    z-index: -1;
    filter: blur(5px);
}
.container .box.shadow3::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 50%;
    background: rgba(0, 0, 0,0.3);
    transform-origin: left;
    transform: skewY(8deg);
    z-index: -1;
    filter: blur(5px);
}
.container .box.box.shadow4::before{
    content: '';
    position: absolute;
    bottom: -15%;
    left: 5%;
    width: 90%;
    height: 30px;
    background: rgba(0, 0, 0,0.3);
    transform: skewX(-15deg);
    filter: blur(5px);
}