*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cyan;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.container .box{
    position: relative;
    display: flex;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background: #fff;
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}
.container .box.shadow1{
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.container .box.shadow2::before{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10%;
    height: 50px;
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(9deg);
    z-index: -1;
    filter: blur(5px);
}
.container .box.shadow3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: right;
    transform: skewY(-5deg);
    z-index: -1;
    filter: blur(5px);
}
.container .box.shadow3::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(5deg);
    z-index: -1;
    filter: blur(5px);
}
.container .box.box.shadow4::before{
    content: '';
    position: absolute;
    bottom: -50px;
    left: 5%;
    width: 90%;
    height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    filter: blur(10px);
    z-index: -1;

}
.container .box.shadow5::before{
    content: '';
    position: absolute;
    bottom: -15%;
    left: 5%;
    height: 90%;
    width: 90%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    filter: blur(10px);
}
.container .box.shadow6{
    color: rgba(0, 0, 0, 0.3);
    background: cyan;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1);
}
.container .box.shadow7{
    color: rgba(0, 0, 0, 0.3);
    background: cyan;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.1),
                inset -15px -15px 15px rgba(255, 255, 255, 0.2),
                inset 15px 15px 15px rgba(0, 0, 0, 0.1);
}
